<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="wayfinder-github" value="https://nuget.pkg.github.com/jonnymuir/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <wayfinder-github>
      <add key="Username" value="jonnymuir" />
      <add key="ClearTextPassword" value="%WAYFINDER_PACKAGES_TOKEN%" />
    </wayfinder-github>
  </packageSourceCredentials>
</configuration>
